In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [7]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
matplotlib.interactive(True)
%matplotlib inline

In [8]:
#Arquivos: 
#Link -> http://siops-asp.datasus.gov.br/CGI/deftohtm.exe?SIOPS/serhist/municipio/mIndicadores.def
# A150924177_40_180_122.csv #2018
# A151005177_40_180_122.csv #2017
# A153419177_40_180_122.csv #2016
# A151417177_40_180_122.csv #2015
# A151457177_40_180_122.csv #2014

In [9]:
def popula_open(path):
    pop_num = pd.read_csv('../data/dados_pop_invt_saude/'+ path, sep=';', skiprows=3, encoding='latin1')
    return pop_num

In [10]:
def init_cities(data, key):
    pop_num = data[['Munic-BR','População']]

    aux_colum = pop_num["Munic-BR"].str.split(" ", n = 1, expand = True)
    pop_num["Munic-BR"]= aux_colum[1] 
    pop_num.insert(0, "Val_Municipio", aux_colum[0].values, True) 

    pop_num.insert(0, "Estado",  pop_num["Val_Municipio"].str[0:2], True) 
    pop_num["Val_Municipio"] = pop_num["Val_Municipio"].apply(pd.to_numeric, errors='coerce')
    
    pop_num = pop_num.rename({'Munic-BR': 'Município'}, axis=1)
    pop_num = pop_num.rename({'População': 'Pop_'+str(key)}, axis=1)
    
    return pop_num

In [11]:
def all_states(data, key):
    pop_num = data[['Munic-BR','População']]

    aux_colum = pop_num["Munic-BR"].str.split(" ", n = 1, expand = True)
    pop_num["Munic-BR"]= aux_colum[1] 
    pop_num.insert(0, "Val_Municipio", aux_colum[0].values, True) 

    pop_num.insert(0, "Estado",  pop_num["Val_Municipio"].str[0:2], True) 
    pop_num["Val_Municipio"] = pop_num["Val_Municipio"].apply(pd.to_numeric, errors='coerce')
    
    pop_num = pop_num.rename({'Munic-BR': 'Município'}, axis=1)
    pop_num = pop_num.rename({'População': 'Pop_'+str(key)}, axis=1)
    
    #Add collum for state population    
    final_pop =  pop_num.copy()
    final_pop['pop_total_state'] = 0 

    #Add value to column
    UF = 11,12,13,14,15,16,17,21,22,23,24,25,26,27,28,29,31,32,33,35,41,42,43,50,51,52,53
    for uf in UF:
        selec_state =  pop_num.copy()
        selec_state = selec_state[selec_state['Estado']== str(uf)]
        final_pop.loc[final_pop['Estado'] == str(uf), 'pop_total_state'] = selec_state['Pop_'+str(key)].sum() 
    
    #### All statesdisplay(final_pop)
    
    return final_pop

### All City

In [12]:
dict_pop = {'2014':'A151457177_40_180_122.csv', 
            '2015':'A151417177_40_180_122.csv', 
            '2016':'A153419177_40_180_122.csv', 
            '2017':'A151005177_40_180_122.csv', 
            '2018': 'A150924177_40_180_122.csv'}

In [13]:
v=0
for key, value in dict_pop.items():
    data = popula_open(dict_pop[key])
    pop_num_aux = init_cities(data,key)
    
    pop_final = pop_num_aux
    pop_final

C:\Users\Natan\Anaconda3\envs\BcgCancer\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Natan\Anaconda3\envs\BcgCancer\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

     Estado  Val_Municipio                Município   Pop_2014
0        11       110001.0    Alta Floresta D'Oeste      25652
1        11       110037.0  Alto Alegre dos Parecis      13884
2        11       110040.0             Alto Paraíso      19841
3        11       110034.0         Alvorada D'Oeste      17228
4        11       110002.0                Ariquemes     102860
...     ...            ...                      ...        ...
5565     52       522205.0           Vicentinópolis       8053
5566     52       522220.0                 Vila Boa       5371
5567     52       522230.0            Vila Propício       5520
5568     00            0.0     Ignorado ou exterior          0
5569     To            NaN                     None  199971447

[5570 rows x 4 columns]

     Estado  Val_Municipio                Município   Pop_2015
0        11       110001.0    Alta Floresta D'Oeste      25578
1        11       110037.0  Alto Alegre dos Parecis      13940
2        11       110040.0             Alto Paraíso      20210
3        11       110034.0         Alvorada D'Oeste      17063
4        11       110002.0                Ariquemes     104401
...     ...            ...                      ...        ...
5564     52       522200.0               Vianópolis      13456
5565     52       522205.0           Vicentinópolis       8171
5566     52       522220.0                 Vila Boa       5495
5567     52       522230.0            Vila Propício       5578
5568     To            NaN                     None  201592098

[5569 rows x 4 columns]

     Estado  Val_Municipio                Município   Pop_2016
0        11       110001.0    Alta Floresta D'Oeste      25506
1        11       110037.0  Alto Alegre dos Parecis      13993
2        11       110040.0             Alto Paraíso      20569
3        11       110034.0         Alvorada D'Oeste      16902
4        11       110002.0                Ariquemes     105896
...     ...            ...                      ...        ...
5532     52       522200.0               Vianópolis      13567
5533     52       522205.0           Vicentinópolis       8286
5534     52       522220.0                 Vila Boa       5615
5535     52       522230.0            Vila Propício       5635
5536     To            NaN                     None  202445461

[5537 rows x 4 columns]

     Estado  Val_Municipio                Município   Pop_2017
0        11       110001.0    Alta Floresta D'Oeste      25437
1        11       110037.0  Alto Alegre dos Parecis      14045
2        11       110040.0             Alto Paraíso      20916
3        11       110034.0         Alvorada D'Oeste      16747
4        11       110002.0                Ariquemes     107345
...     ...            ...                      ...        ...
5564     52       522200.0               Vianópolis      13675
5565     52       522205.0           Vicentinópolis       8397
5566     52       522220.0                 Vila Boa       5731
5567     52       522230.0            Vila Propício       5690
5568     To            NaN                     None  204623169

[5569 rows x 4 columns]

     Estado  Val_Municipio                Município   Pop_2018
0        11       110001.0    Alta Floresta D'Oeste      25437
1        11       110037.0  Alto Alegre dos Parecis      14045
2        11       110040.0             Alto Paraíso      20916
3        11       110034.0         Alvorada D'Oeste      16747
4        11       110002.0                Ariquemes     107345
...     ...            ...                      ...        ...
5563     52       522200.0               Vianópolis      13675
5564     52       522205.0           Vicentinópolis       8397
5565     52       522220.0                 Vila Boa       5731
5566     52       522230.0            Vila Propício       5690
5567     To            NaN                     None  204611450

[5568 rows x 4 columns]

### All States

In [14]:
p_0 = all_states(popula_open(dict_pop['2014']),'2014')
p_1 = all_states(popula_open(dict_pop['2015']),'2015')
p_2 = all_states(popula_open(dict_pop['2016']),'2016')
p_3 = all_states(popula_open(dict_pop['2017']),'2017')
p_4 = all_states(popula_open(dict_pop['2018']),'2018')

p_0 = p_0.to_csv(r'../data/dados_pop_invt_saude/pop_2014.csv')
p_1 = p_1.to_csv(r'../data/dados_pop_invt_saude/pop_2015.csv')
p_2 = p_2.to_csv(r'../data/dados_pop_invt_saude/pop_2016.csv')
p_3 = p_3.to_csv(r'../data/dados_pop_invt_saude/pop_2017.csv')
p_4 = p_4.to_csv(r'../data/dados_pop_invt_saude/pop_2018.csv')

C:\Users\Natan\Anaconda3\envs\BcgCancer\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Natan\Anaconda3\envs\BcgCancer\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

### Test

In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd

In [16]:
p_0 = pd.read_csv(r'../data/dados_pop_invt_saude/pop_2014.csv')
p_1 = pd.read_csv(r'../data/dados_pop_invt_saude/pop_2015.csv')
p_2 = pd.read_csv(r'../data/dados_pop_invt_saude/pop_2016.csv')
p_3 = pd.read_csv(r'../data/dados_pop_invt_saude/pop_2017.csv')
p_4 = pd.read_csv(r'../data/dados_pop_invt_saude/pop_2018.csv')

In [17]:
p_0.drop(columns=['Unnamed: 0'])
p_1.drop(columns=['Unnamed: 0'])
p_2.drop(columns=['Unnamed: 0'])
p_3.drop(columns=['Unnamed: 0'])
p_4.drop(columns=['Unnamed: 0'])

,Estado,Val_Municipio,Município,Pop_2014,pop_total_state
0,11,110001.0,Alta Floresta D'Oeste,25652,1748531
1,11,110037.0,Alto Alegre dos Parecis,13884,1748531
2,11,110040.0,Alto Paraíso,19841,1748531
3,11,110034.0,Alvorada D'Oeste,17228,1748531
4,11,110002.0,Ariquemes,102860,1748531
...,...,...,...,...,...
5565,52,522205.0,Vicentinópolis,8053,6523222
5566,52,522220.0,Vila Boa,5371,6523222
5567,52,522230.0,Vila Propício,5520,6523222
5568,00,0.0,Ignorado ou exterior,0,0
5569,To,NaN,NaN,199971447,0

,Estado,Val_Municipio,Município,Pop_2015,pop_total_state
0,11,110001.0,Alta Floresta D'Oeste,25578,1768204
1,11,110037.0,Alto Alegre dos Parecis,13940,1768204
2,11,110040.0,Alto Paraíso,20210,1768204
3,11,110034.0,Alvorada D'Oeste,17063,1768204
4,11,110002.0,Ariquemes,104401,1768204
...,...,...,...,...,...
5564,52,522200.0,Vianópolis,13456,6610681
5565,52,522205.0,Vicentinópolis,8171,6610681
5566,52,522220.0,Vila Boa,5495,6610681
5567,52,522230.0,Vila Propício,5578,6610681
5568,To,NaN,NaN,201592098,0

,Estado,Val_Municipio,Município,Pop_2016,pop_total_state
0,11,110001.0,Alta Floresta D'Oeste,25506,1787279
1,11,110037.0,Alto Alegre dos Parecis,13993,1787279
2,11,110040.0,Alto Paraíso,20569,1787279
3,11,110034.0,Alvorada D'Oeste,16902,1787279
4,11,110002.0,Ariquemes,105896,1787279
...,...,...,...,...,...
5532,52,522200.0,Vianópolis,13567,6695855
5533,52,522205.0,Vicentinópolis,8286,6695855
5534,52,522220.0,Vila Boa,5615,6695855
5535,52,522230.0,Vila Propício,5635,6695855
5536,To,NaN,NaN,202445461,0

,Estado,Val_Municipio,Município,Pop_2017,pop_total_state
0,11,110001.0,Alta Floresta D'Oeste,25437,1805788
1,11,110037.0,Alto Alegre dos Parecis,14045,1805788
2,11,110040.0,Alto Paraíso,20916,1805788
3,11,110034.0,Alvorada D'Oeste,16747,1805788
4,11,110002.0,Ariquemes,107345,1805788
...,...,...,...,...,...
5564,52,522200.0,Vianópolis,13675,6783472
5565,52,522205.0,Vicentinópolis,8397,6783472
5566,52,522220.0,Vila Boa,5731,6783472
5567,52,522230.0,Vila Propício,5690,6783472
5568,To,NaN,NaN,204623169,0

,Estado,Val_Municipio,Município,Pop_2018,pop_total_state
0,11,110001.0,Alta Floresta D'Oeste,25437,1805788
1,11,110037.0,Alto Alegre dos Parecis,14045,1805788
2,11,110040.0,Alto Paraíso,20916,1805788
3,11,110034.0,Alvorada D'Oeste,16747,1805788
4,11,110002.0,Ariquemes,107345,1805788
...,...,...,...,...,...
5563,52,522200.0,Vianópolis,13675,6778772
5564,52,522205.0,Vicentinópolis,8397,6778772
5565,52,522220.0,Vila Boa,5731,6778772
5566,52,522230.0,Vila Propício,5690,6778772
5567,To,NaN,NaN,204611450,0

### Lixo

In [ ]:
# # Problema na hora de unir: 
# (Tamanhos diferentes menos ou mais municipios)

# v=0
# for key, value in dict_pop.items():
#     data = popula_open(dict_pop[key])
#     pop_num_aux = init_cities(data,key)
    
#     if (v==0):
#         pop_final = pop_num_aux
        
#     else:
#         val_aux = 'Pop_'+str(key)
#         collum_add = pop_num_aux[[val_aux]]
#         pop_final[val_aux] = collum_add.values
# #         pd.concat([pop_final, collum_add], ignore_index=True, axis=1)
        
#     v=v+1